/* CONTAINER GRID CLASSES */

.container {

  position: absolute;

  left: 5%;
  top: 128px;

  width: calc(90%);

}

.container > div {

  position:relative;

  width:100%;
  padding-bottom:50%;

}

.container > div > div {

  position:absolute;

  width:100%;
  height:100%;

  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(16, 1fr);

}

/* -------------------------------- */

/* GRID CLASSES */

.logo_block {

  grid-area: 1 / 1 / 9 / 9;

  display: flex;
  align-items: center;
  justify-content: center;

}

.qa_block {
  grid-area: 9 / 1 / 17 / 9;
}

.js_block {
  grid-area: 1 / 9 / 12 / 17;
}

.java_block {
  grid-area: 12 / 9 / 17 / 17;
  position: relative;
}

.dotnet_block {
  grid-area: 7 / 17 / 17 / 27;
  position: relative;
}

.php_block {
  grid-area: 1 / 17 / 7 / 33;
  position: relative;
}

.events_block {
  grid-area: 7 / 27 / 11 / 33;
  position: relative;
}

.blog_block {
  grid-area: 11 / 27 / 15 / 33;
  position: relative;
}

.contacts_block {
  grid-area: 15 / 27 / 17 / 33;
  position: relative;
}

/* -------------------------------- */
