.flip-container {

  perspective: 1000px;

  height: 100%;
  width: 100%;

}

.flip-container:hover > .flipper {
   transform: rotateY(180deg);
}

.flipper {

  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;

  position: relative;

}

.front,
.back {

  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  backface-visibility: hidden;

}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
