 @keyframes slideFromTop {
     0% {
       height: 0px;
     }
     100% {
       height: 64px;
     }
}

/* MAIN HEADER CLASSES */

.header {

  position: fixed;

  width: 100%;
  height: 64px;

  padding-left: 2.5%;
  padding-right: 2.5%;

  z-index: 9999;

}

.header_panel {

  animation: 1s ease-out 0s 1 slideFromTop;

  position: fixed;
  clip: rect(auto, auto, auto, auto);

  width: 100%;
  height: 64px;

}

.header_content {

  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  height: 64px;

}

/* -------------------------------- */

/* HEADER LEFT CLASSES */

.header_logo {
  height: 32px;
}

/* -------------------------------- */

/* HEADER RIGHT CLASSES */

.header_right {

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 64px;
  width: 128px;

}

.header_right > label {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  height: 48px;
  width: 48px;

  border-radius: 50%;

  background-color: red;

  font-size: 32px;
  text-align: center;
  color: white;

}

.notification_wrapper {

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 48px;
  width: 48px;

}

.notification_wrapper:hover {

  background-color: gray;
  border-radius: 50%;

}

.notification {
  height: 32px;
  width: 32px;
}

/* -------------------------------- */

/* ACCAUNT MENU CLASSES */

.header > input[type="checkbox"] {
  display: none;
}

.header > input[type="checkbox"] + div {

  position: fixed;
  clip: rect(auto, auto, auto, auto);

  right: 2.5%;
  top: 80px;

  width: auto;
  height: 140px;

  transition-property: height;
  transition-duration: 0.5s;

}

.header > input[type="checkbox"]:checked + div {
  height: 0px;
  z-index: 10;
}

.accaount_menu {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: auto;
  width: auto;

  border: solid 1px black;
  border-radius: 10px;

  font-size: 24px;

  background-color: white;

}

.accaount_menu > span {
  border-bottom: solid 4px gray;
  color: gray;
}

.accaount_menu > strong {
  margin-top: 8px;
}

.accaount_menu > strong:hover {
  background-color: lightgray;
}

/* -------------------------------- */
