body {
  font-family: Verdana, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

/* LOGO BLOCK CLASSES */

.logo_block .flip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo_block .flip-container .flipper {
  height: 50%;
  width: 50%;
}

.logo_block .back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_block_button {

  height: 48px;
  width: 128px;

  font-size: 24px;
  color: white;

  background-color: blue;

  border: solid black 1px;
  border-radius: 10px;

}

/* -------------------------------- */

/* QA BLOCK CLASSES */

.qa_block .front {

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightgreen;

}

.qa_block .front > strong {
  font-size: 128px;
  color: white;
}

.qa_block .back {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;

}

.qa_block .back > b {
  font-size: 24px;
}

/* -------------------------------- */

/* JS BLOCK CLASSES */

.js_block .front {

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  background-color: orange;

}

.js_block .front > strong {
  font-size: 128px;
  color: black;
}

.js_block .back {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;

}

.js_block .back > b {
  font-size: 24px;
}

/* -------------------------------- */

/* JAVA BLOCK CLASSES */

.java_block .block_title {

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  height: 100%;
  width: 100%;

  background-color: red;

}

.java_block .block_title > strong {
  font-size: 64px;
  color: white;
}

.java_block .block_content_wrapper {

  position: absolute;

  clip: rect(auto, auto, auto, auto);

  height: 0%;
  width: 100%;

  transition-property: height;
  transition-duration: 0.5s;

  background-color: white;

  overflow: auto;

}

.java_block:hover > .block_content_wrapper {
  height: 100%;
}

.java_block .block_content {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;

}

.java_block .block_content > b {
  font-size: 24px;
}

/* -------------------------------- */

/* .NET BLOCK CLASSES */

.dotnet_block .block_title {

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  bottom: 0px;
  right: 0px;

  clip: rect(auto, auto, auto, auto);

  height: 100%;
  width: 100%;

  transition-property: height, width;
  transition-duration: 0.5s, 0.5s;

  background-color: purple;

}

.dotnet_block .block_title > strong {
  font-size: 128px;
  color: white;
}

.dotnet_block .block_content_wrapper {

  position: absolute;

  height: 100%;
  width: 100%;

  background-color: white;

  overflow: auto;

}

.dotnet_block:hover > .block_title {
  height: 0%;
  width: 0%;
}

.dotnet_block .block_content {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;

}

.dotnet_block .block_content > b {
  font-size: 24px;
}

/* -------------------------------- */

/* PHP BLOCK CLASSES */

.php_block .block_title {

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  top: 0px;
  right: 0px;

  clip: rect(auto, auto, auto, auto);

  height: 100%;
  width: 100%;

  transition-property: height, width;
  transition-duration: 0.5s, 0.5s;

  background-color: gray;

}

.php_block .block_title > strong {
  font-size: 128px;
  color: black;
}

.php_block .block_content_wrapper {

  position: absolute;

  height: 100%;
  width: 100%;

  background-color: white;

  overflow: auto;

}

.php_block:hover > .block_title {
  height: 0%;
  width: 0%;
}

.php_block .block_content {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;

}

.php_block .block_content > b {
  font-size: 24px;
}

/* -------------------------------- */

/* EVENTS BLOCK CLASSES */

.events_block .block_title {

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  right: 0px;

  clip: rect(auto, auto, auto, auto);

  height: 100%;
  width: 100%;

  transition-property: width;
  transition-duration: 0.5s;

  background-color: aqua;

}

.events_block .block_title > strong {
  font-size: 48px;
  color: white;
}

.events_block .block_content_wrapper {

  position: absolute;

  height: 100%;
  width: 100%;

  background-color: white;

  overflow: auto;

}

.events_block:hover > .block_title {
  width: 0%;
}

.events_block .block_content {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;

}

.events_block .block_content > b {
  font-size: 24px;
}

/* -------------------------------- */

/* BLOG BLOCK CLASSES */

.blog_block .block_title {

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  right: 0px;

  clip: rect(auto, auto, auto, auto);

  height: 100%;
  width: 100%;

  transition-property: width;
  transition-duration: 0.5s;

  background-color: blue;

}

.blog_block .block_title > strong {
  font-size: 48px;
  color: white;
}

.blog_block .block_content_wrapper {

  position: absolute;

  height: 100%;
  width: 100%;

  background-color: white;

  overflow: auto;

}

.blog_block:hover > .block_title {
  width: 0%;
}

.blog_block .block_content {

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;

}

.blog_block .block_content > b {
  font-size: 24px;
}

/* -------------------------------- */

/* CONTACTS BLOCK CLASSES */

.contacts_block .block_title {

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  right: 0px;

  clip: rect(auto, auto, auto, auto);

  height: 100%;
  width: 100%;

  transition-property: width;
  transition-duration: 0.5s;

  background-color: navy;

}

.contacts_block .block_title > strong {
  font-size: 48px;
  color: white;
}

.contacts_block .block_content_wrapper {

  position: absolute;

  height: 100%;
  width: 100%;

  background-color: white;

  overflow: auto;

}

.contacts_block:hover > .block_title {
  width: 0%;
}

.contacts_block .block_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts_block .block_content div {
  width: 48px;
}

.contacts_block .block_content a {
  color: black;
}

.contacts_block .block_content a:hover {
  color: blue;
}

/* -------------------------------- */
