.notification-list {

  position: fixed;

  right: 2.5%;
  bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.ok-notification {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 96px;
  width: 192px;

  border: solid black 1px;
  border-radius: 5px;

  margin-top: 8px;

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  background-color: rgba(0, 231, 121, 0.5);

}

.warning-notification {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 96px;
  width: 192px;

  border: solid black 1px;
  border-radius: 5px;

  margin-top: 8px;

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  background-color: rgba(214, 255, 0, 0.5);

}

.error-notification {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 96px;
  width: 192px;

  border: solid black 1px;
  border-radius: 5px;

  margin-top: 8px;

  padding-left: 8px;
  padding-top: 8px;

  padding-right: 8px;
  padding-bottom: 8px;

  background-color: rgba(255, 64, 0, 0.5);

}
